@CHARSET "UTF-8";

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

#menu li{
  padding: 0;
  margin: 0;
}

#menu li a{
  display: block;
  border: 1px solid #666;
  background-color: #ccc;
  padding: 3px;
  height: 90px;
  width: 90px;
  text-decoration: none;
  color: #333;
  margin: 1px;
  text-align: center;
  line-height: 90px;
  font-size: 14px;
}
#menu li a:hover{
  background-color: #2d56be;
  color: #fff;
}

