@CHARSET "UTF-8";
/*******************************
 header.jsp の CSS を記述する
 *******************************/
header {
  color: #FFF6E9;
}
input {
  color: black;
}
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  background-image: url(../img/navi.png);
  background-size: auto 70px;
}
/* ▼▼IE で FlexItem の margin が正しく反映されないのを保管するため */
.navi {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.logo {
  margin-right: auto;
  height: 100%;
}

.logo img{
  height: 70px;
  margin: 0;
}

.navi_box {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 5px;
  height: 56px;
  min-width: 10px;
}
.navi_box:hover {
  color: #DBB400;
}

.login_box {
  width: 400px;
}

.glyphicon {
  font-size: 3.0rem;
}

.navi_box_title {
}

.login_label {
  display: flex;
  height: 50%;
  align-items: center;
  font-size: 1.2rem;
}

.login_input {
  height: 50%;
  width: 200px;
}

.login_submit {
  margin-top: auto;
}

@media screen and (max-width: 850px){
  #header {
  justify-content: center;
    background-size: auto 50px;
  }
  .logo img{
    height: 50px;
    margin: 0;
  }
  .navi_box {
    height: 40px;
    margin: 5px 0;
  }
  .navi_box_title {
    display: none;
  }
  .login_input {
    width: 160px;
    font-size: 1.2rem
  }
}