/* スタイル適当です */
.nav {
	float:left;
    display: table;
    width: 100%;
    background: #FFF;
}
.nav__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.nav__item + .nav__item {
    border-left: 1px solid #CCC;
}
.nav__item a {
    display: block;
    padding: 15px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}
.nav__item {
	float:left;
}
.nav__item{
  overflow: hidden;
}
.nav__item1{

    vertical-align: middle;
	float:left;
  font-size: 18px;
  overflow: hidden;
}

.clear{
	clear: both;
}

img{
	margin:20px;
}

 .test{
 	float:left;
 }
