@charset "UTF-8";

table {
	margin: 50px;
	width: 300px;
	border-color:#333333;
	border-width:1px;
	border-style:solid;
}


th{

	margin: 30px;

}


td {
	width:100px;
	align: center;
	height: 40px;
	border-color:#999999;
	border-width:1px;
	border-style:dashed;
}


