.table_search{
 margin-left: 10%;
 margin-right: 10%;
 margin-bottom: 30%;
 margin-top: 20%;
}
.th_01{
 text-align: center;
}
.td_01{
 text-align: center;
 width: 30px;
}
.td_02{
 text-align: center;
 width: 30px;
}
.td_03{
 text-align: center;
 width: 30px;
}