.table_search{
 margin-left: 10%;
 margin-right: 10%;
 margin-bottom: 30%;
 margin-top: 20%;
}
.th_title{
 text-align: center;
}
.td_itemname{
 text-align: center;
 width: 30px;
}
.td_text{
 text-align: center;
 width: 30px;
}
.td_btn{
 text-align: center;
 width: 30px;
}