a{
    float: right;
}

.clear{
    clear: both;
}

.example {
  position: relative;
  }

.example a {/*aタグを画像の真ん中に*/
  position: relative;
  top: -50px;
  left: 60px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
    width:12%;
  text-align: center;
    /*余計な隙間を除く*/
  font-size: 1.5vw;/*文字サイズ*/
  border: solid white 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  background-color:black;

  }

.example a:hover{/*カーソルを当てたとき*/
  background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
  }

.trim {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.bb {
  width: 100%;
  }

