@CHARSET "UTF-8";
/*******************************
 全ページに共通の CSS を記述する
 *******************************/
* {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
html {
  min-height: 100%;
}
body {
  min-height: 100%;
}
/* ページ全体の要素を包む */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
}

.item_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.2);
  width: 23%;
  margin: 0 1% 3rem;
  padding-bottom: 3rem;
}

.item table {
  width: 80%;
  margin: 10%;
}

.img_path {
  display: block;
  padding: 15%;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.item table {
  margin: auto;
}

@media screen and (max-width: 980px) {
  .item {
    flex-basis: 31%;
  }
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 380px) {
  .item {
    flex-basis: 98%;
  }
}