@CHARSET "UTF-8";
input {
  color: black;
}
.item_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item_wrapper{
  width: 24%;
}

.item{
  margin: 0 1% 3rem;
  padding-bottom: 3rem;
  background-color: #f0f0f0;
}

.img_path {
  display: block;
  padding: 15%;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.item table{
  margin: auto;
}

@media screen and (max-width: 980px){
  .item_wrapper {
    flex-basis: 32%;
  }
}

@media screen and (max-width: 768px){
  .item_wrapper {
    flex-basis: 49%;
  }
}

@media screen and (max-width: 380px){
  .item_wrapper {
    flex-basis: 100%;
  }
}